---
name: CI

on:
  push:
#    branches:
#      - main
#      - feature/*
    paths:
    - '.github/**'
    - 'hiera.yaml'
    - 'data/**'
    - 'manifests/**'
    - 'files/**'
    - 'spec/**'
    - 'lib/**'
    - 'Gemfile'
  workflow_dispatch:
    paths:
    - '.github/**'
    - 'hiera.yaml'
    - 'data/**'
    - 'manifests/**'
    - 'files/**'
    - 'spec/**'
    - 'lib/**'
    - 'Gemfile'
  pull_request:
    paths:
    - 'hiera.yaml'
    - 'data/**'
    - 'manifests/**'
    - 'spec/**'
    - 'lib/**'

jobs:
  puppet:
    uses: voxpupuli/gha-puppet/.github/workflows/beaker.yml@v4
    with:
      puppet_versions: 8.0
      ruby_versions: 3.3
      fixtures_yml: .fixtures.yml
