---
name: CI

on:
  pull_request: {}
  push: {}

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  puppet:
    name: Puppet
    uses: voxpupuli/gha-puppet/.github/workflows/beaker.yml@v4
