---
name: CI

on:
  pull_request: {}
  push: {}

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - run: bundle install --jobs 4
      - name: Validate
        run: bundle exec rake syntax lint metadata_lint
      - name: Run tests
        run: bundle exec rake parallel_spec
